<div class="container">
    <div class="row">
      <div class="col 3">
        <h2 class="font-weight-bold">Hello, <%=@user.username%></h2>
        <p><a href="/users/<%=@user.slug%>/edit">View and edit your profile</a></p>
      </div>
      <div class="col-9 p-3 mt-2 text-dark">
        <h2 class="font-weight-bold">You are viewing <%=@user_show.username%>'s page</h2>
        <br>
          <div class="card mt-2 pl-2" style="width: 100%;">
            <div class="card-body">
              <h4 class="card-title">Profile</h4>
              <h6 class="card-subtitle mb-2 text-muted">email: <%= @user_show.email %></h6>
              <p class="card-text">Resources:</p>
              <% @user_show.resources.each do |r| %>
                <a href="<%=r.link%>" class="card-link"><%=r.name%></a>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
