<% @resources.each do |e| %>
  <br>
  <h2 class="font-weight-bold"> <%=e.name%></h2>
  <br>
  <div class="card mt-2 pl-2" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Resource Info</h4>
      <h6 class="card-subtitle mb-2 text-muted">Accessory of <a href="/users/<%=e.user.slug%>"><%=e.user.username%></a></h6>
      <br>
      <img src="<%=e.icon%>" alt="<%= e.name %>" class="img-thumbnail m-1">
      <p class="card-text">Rank: <%= e.rank %></p>
      <a href="<%=e.link%>" class="card-link">Go to resource </a>
      <a href="/resources/<%=e.id%>"> View Resource Page</a>
    </div>
  </div>
<% end %>
