<div class="container">
    <div class="row">
      <div class="col 3">
        <h2 class="font-weight-bold">Hello, <%=@user.username%></h2>
        <p><a href="/users/<%=@user.slug%>/edit">View and edit your profile</a></p>
      </div>
      <div class="h-100 col-9 p-3 mt-2 bg-light text-dark">
        <h2 class="font-weight-bold">You are viewing <%=@hardware.name%></h2>
        <br>
      <div class="card mt-2 pl-2" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title">Hardware Info</h4>
          <!-- Hardware that belongs to user directly-->
            <% if @hardware.hardwareable.is_a?(User) then %>
              <h6 class="card-subtitle mb-2 text-muted">by <a href="/users/<%=@hardware.hardwareable.slug%>"><%=@hardware.hardwareable.username%></a></h6>
          <!-- Hardware that belongs to a setup-->
            <% elsif @hardware.hardwareable.user.is_a?(User) then %>
              <h6 class="card-subtitle mb-2 text-muted">by <a href="/users/<%=@hardware.hardwareable.user.slug%>"><%=@hardware.hardwareable.user.username%></a></h6>
            <% end %>
          <br>
          <img src="<%=@hardware.image1%>" alt="<%= @hardware.name %>" class="img-thumbnail m-1"><img src="<%=@hardware.image2%>" alt="<%= @hardware.name %>" class="img-thumbnail m-1"><img src="<%=@hardware.image3%>" alt="<%= @hardware.name %>" class="img-thumbnail m-1">
          <p class="card-text">Rank: <%= @hardware.rank %></p>
          <a href="<%=@hardware.link%>" class="card-link">Go to hardware</a>
        </div>
      </div>  
      </div>
    </div>
  </div>
