<div class="container">
    <div class="row">
      <div class="col 3">
        <h2 class="font-weight-bold">Hello, <%=@user.username%></h2>
        <p><a href="/users/<%=@user.slug%>/edit">View and edit your profile</a></p>
      </div>
      <div class="h-100 col-9 p-3 mt-2 bg-light text-dark">
        <h2 class="font-weight-bold">You are viewing <%=@user_show.username%>'s page</h2>
        <br>
          <div class="card mt-2 pl-2" style="width: 100%;">
            <div class="card-body">
              <h4 class="card-title">Profile</h4>
              <h6 class="card-subtitle mb-2 text-muted">email: <%= @user_show.email %></h6>
              <br>

              <h6 class="card-title">Hardware:</h6>
              <% @user_show.hardwares.each do |e| %>
                <p><a href="/hardwares/<%=e.id%>" class="card-link"><%=e.name%></a></p>
              <% end %>

            </div>
          </div>
      </div>
    </div>
  </div>
