<div class="container">
    <div class="row">
      <div class="col 3">
        <h2 class="font-weight-bold">Hello, <%=@user.username%></h2>
        <p><a href="/users/<%=@user.slug%>/edit">View and edit your profile</a></p>
        <!-- Button add -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add or Create
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Add resource</a>
            <a class="dropdown-item" href="#">Add hardware</a>
            <a class="dropdown-item" href="#">Add setup</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Add hardware to setup</a>
          </div>
        </div>
      </div>
      <div class="col-9 p-3 mt-2 bg-light text-dark">
        <!-- Show if empty -->
        <h2 class="font-weight-bold"><%="#{flash[:message_index]}"%></h2>
        <!-- Display setups -->
        <% @all.each do |e| %>
          <% if e.is_a?(User) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.username %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Created at: <%= e.created_at %></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          <% elsif e.is_a?(Resource) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">by <%= e.user.username %> Created at: <%= e.created_at %></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
