<div class="container">
    <div class="row">
      <div class="col 3">
        <h2 class="font-weight-bold">Hello, <%=@user.username%></h2>
        <p><a href="/users/<%=@user.slug%>/edit">View and edit your profile</a></p>
        <!-- Button add -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add or Create
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/resources/new">Add resource</a>
            <a class="dropdown-item" href="/hardwares/new">Add hardware</a>
            <a class="dropdown-item" href="/setups/new">Add setup</a>
          </div>
        </div>
      </div>
      <div class="h-100 col-9 p-3 mt-2 bg-light text-dark pre-scrollable">
        <!-- Show if empty -->
        <h2 class="font-weight-bold"><%="#{flash[:message_index]}"%></h2>
        <!-- Display setups -->
        <% @all.each do |e| %>
          <!-- User -->
          <% if e.is_a?(User) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.username %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Created at: <%= e.created_at %></h6>
                <a href="/users/<%=e.slug%>" class="card-link">View users profile</a>
              </div>
            </div>
          <!-- Resource -->
          <% elsif e.is_a?(Resource) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">by <a href="/users/<%=e.user.slug%>"><%=e.user.username%></a> Created at: <%= e.created_at %></h6>
                <img src="<%=e.icon%>" alt="<%= e.name %>" class="img-thumbnail">
                <p class="card-text">Rank: <%= e.rank %></p>
                <a href="<%=e.link%>" class="card-link">Go to resource</a>
                <a href="/resources/<%=e.id%>" class="card-link">View resource page</a>
              </div>
            </div>
          <!-- Hardware -->
          <% elsif e.is_a?(Hardware) && e.hardwareable.is_a?(User) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">by <a href="/users/<%=e.hardwareable.slug%>"><%=e.hardwareable.username%></a> Created at: <%= e.created_at %></h6>
                <img src="<%=e.image1%>" alt="<%= e.name %>" class="img-thumbnail m-1"><img src="<%=e.image2%>" alt="<%= e.name %>" class="img-thumbnail m-1"><img src="<%=e.image3%>" alt="<%= e.name %>" class="img-thumbnail m-1">
                <p class="card-text">Rank: <%= e.rank %></p>
                <a href="<%=e.link%>" class="card-link">Go to hardware</a>
                <a href="/hardwares/<%=e.id%>" class="card-link">View hardware page</a>
              </div>
            </div>
          <!-- Setup -->
          <% elsif e.is_a?(Setup) then %>
            <div class="card mt-2 pl-2" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"><%= e.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">by <a href="/users/<%=e.user.slug%>"><%= e.user.username%></a> Created at: <%= e.created_at %></h6>
                <img src="<%=e.image1%>" alt="<%= e.name %>" class="img-thumbnail m-1"><img src="<%=e.image2%>" alt="<%= e.name %>" class="img-thumbnail m-1"><img src="<%=e.image3%>" alt="<%= e.name %>" class="img-thumbnail m-1">
                <p class="card-text">Rank: <%= e.rank %></p>
                <a href="/setups/<%=e.id%>" class="card-link">View setup page</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
